layout {

    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar" {
                hide_swap_layout_indication true
            }
        }
        children
        pane size=1 borderless=true {
            plugin location="status-bar" {
                classic true
            }
        }
    }

    tab

    swap_tiled_layout name="stack" {
        tab min_panes=3 {
            pane split_direction="vertical" {
                pane
                pane stacked=true { children; }
            }
        }
    }

    swap_tiled_layout name="base" {
        tab max_panes=2 {
            pane split_direction="vertical" {
                pane { children; }
            }
        }
    }

}
